<div class="flex flex-col gap-8 p-4">
  <div class="flex justify-center text-center bg-task_board rounded-lg p-3">
    <img
      src="https://cdn.prod.website-files.com/652fb7047cb1f8b74c17f907/653a3462d8987268e60e7cb4_ineo-colored.svg"
      loading="lazy"
      alt="INEO Colored Logo"
      class="h-10"
    />
  </div>
  <div class="flex flex-col justify-start h-full text-[#ffffff] font-bold">
    <span class="text-sm">Main Menu</span>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon fontIcon="dashboard"></mat-icon>
      </div>
      <div class="grow pl-2">Kanban board</div>
      <div class="flex-none w-6 badge">2</div>
    </div>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon class="material-symbols-outlined">manage_search</mat-icon>
      </div>

      <div class="grow pl-2">Backlog</div>
      <div class="flex-none w-6 badge">3</div>
    </div>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon
          class="material-symbols-outlined"
          fontIcon="diversity_3"
        ></mat-icon>
      </div>
      <div class="grow pl-2">Board</div>
      <div class="flex-none w-6 badge">2</div>
    </div>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon fontIcon="equalizer"></mat-icon>
      </div>
      <div class="grow pl-2">Reports</div>
    </div>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon
          class="material-symbols-outlined"
          fontIcon="calendar_month"
        ></mat-icon>
      </div>
      <div class="grow pl-2">Releases</div>
      <div class="flex-none w-6 badge">2</div>
    </div>
  </div>
  <div class="flex flex-col justify-start h-full text-[#ffffff] font-bold">
    <span class="text-sm">Sprints</span>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon fontIcon="task_alt"></mat-icon>
      </div>
      <div class="grow pl-2">Active sprints</div>
    </div>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon fontIcon="verified"></mat-icon>
      </div>
      <div class="grow pl-2">Closed sprints</div>
    </div>
  </div>
  <div class="flex flex-col justify-start h-full text-[#ffffff] font-bold">
    <span class="text-sm">OTHERS</span>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon fontIcon="chat"></mat-icon>
      </div>
      <div class="grow pl-2">Feedback</div>
    </div>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon fontIcon="manage_accounts"></mat-icon>
      </div>
      <div class="grow pl-2">Repository</div>
    </div>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon fontIcon="person_add"></mat-icon>
      </div>
      <div class="grow pl-2">add item</div>
    </div>
    <div
      class="flex items-center p-2 h-14 hover:bg-[#ababab]/20 hover:rounded-xl cursor-pointer"
    >
      <div class="flex-none w-6">
        <mat-icon
          class="material-symbols-outlined"
          fontIcon="logout"
        ></mat-icon>
      </div>
      <div class="grow pl-2">logout</div>
    </div>
  </div>
</div>
