<div
  class="h-[720px] max-w-[620px] py-10 px-8 flex-col justify-start items-start gap-2 flex"
>
  <div class="flex flex-col justify-start">
    <span class="text-2xl font-bold text=[#274E61]">Create Task</span>
    <span class="text-sm font-medium text-[#6F7B90]"
      >Required fields are marked with an asterisk
    </span>
  </div>
  <form
    [formGroup]="taskForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col mt-3"
  >
    <div class="flex justify-between gap-4">
      <mat-form-field appearance="outline" class="w-[240px]">
        <mat-label>Project</mat-label>
        <mat-select>
          @for (project of projects; track project) {
          <mat-option [value]="project.value">{{
            project.viewValue
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-[240px]">
        <mat-label>Assign</mat-label>
        <mat-select formControlName="assign">
          @for (user of users; track user) {
          <mat-option [value]="user.value">{{ user.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="implement services ...."
        value="Sushi"
      />
    </mat-form-field>
    <!-- <div class="w-full !overflow-hidden">
      <quill-view-html [content]="desc"></quill-view-html>
    </div>
    <quill-view-html
      class="w-full !overflow-hidden"
      [content]="desc"
    ></quill-view-html> -->

    <mat-form-field appearance="outline" class="h-[250px]">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="desc"
        matInput
        placeholder="Ex. It makes me feel..."
      ></textarea>
    </mat-form-field>
    <div class="flex justify-between gap-4">
      <mat-form-field appearance="outline" class="w-[240px]">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          @for (item of priorities; track item) {
          <mat-option [value]="item.value">{{ item.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-[240px]">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          @for (item of status; track item) {
          <mat-option [value]="item.value">{{ item.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex justify-between gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Due Date *</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dueDate" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="startDate" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="flex justify-end items-center gap-3">
      <button type="button" mat-dialog-close class="btn btn-active">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-active btn-neutral"
        [disabled]="taskForm.invalid"
      >
        Create
      </button>
    </div>
  </form>
</div>
