<div
  class="h-[750px] m-w-[620px] px-8 py-5 flex-col justify-start items-start gap-5 flex"
>
  <div class="flex flex-col justify-start">
    <span class="text-2xl font-bold text-main">Create Task</span>
    <span class="text-sm font-medium text-[#6F7B90]"
      >Required fields are marked with an asterisk
    </span>
  </div>
  <form
    [formGroup]="taskForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 w-full h-full"
  >
    <div class="flex justify-between gap-4">
      <label class="form-control w-[240px]">
        <div class="label">
          <span class="label-text text-[#6F7B90]">Select Projects</span>
        </div>
        <select class="select select-bordered">
          @for (project of projects; track project) {
          <option [value]="project.value">{{ project.viewValue }}</option>
          }
        </select>
      </label>
      <label class="form-control w-[240px]">
        <div class="label">
          <span class="label-text text-[#6F7B90]">Assign To</span>
        </div>
        <select class="select select-bordered" formControlName="assignedTo">
          @for (user of users; track user) {
          <option>{{ user.viewValue }}</option>
          }
        </select>
      </label>
    </div>
    <div class="!w-full">
      <label class="form-control">
        <div class="label">
          <span class="label-text text-[#6F7B90]">Subject</span>
        </div>
        <input
          type="text"
          placeholder="implement services ...."
          class="input input-bordered !w-full"
          formControlName="title"
        />
      </label>
    </div>
    <div class="grow">
      <label class="form-control">
        <div class="label">
          <span class="label-text text-[#6F7B90]">Description</span>
        </div>
        <quill-editor
          formControlName="desc"
          [style]="{ height: '100px' }"
          #editor
          theme="snow"
        ></quill-editor>
      </label>
    </div>

    <div class="flex justify-between gap-4">
      <div class="flex justify-between gap-4">
        <label class="form-control w-[240px]">
          <div class="label">
            <span class="label-text text-[#6F7B90]">Priority</span>
          </div>
          <select class="select select-bordered" formControlName="priority">
            @for (item of priorities; track item) {
            <option>{{ item.viewValue }}</option>
            }
          </select>
        </label>
        <label class="form-control w-[240px]">
          <div class="label">
            <span class="label-text text-[#6F7B90]">Status</span>
          </div>
          <select class="select select-bordered" formControlName="status">
            @for (item of status; track item) {
            <option>
              {{ item.viewValue }}
            </option>
            }
          </select>
        </label>
      </div>
    </div>
    <div class="flex justify-between gap-4">
      <mat-form-field appearance="outline">
        <mat-label class="text-[#6F7B90]">Due Date *</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dueDate" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label class="text-[#6F7B90]">Start Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="startDate" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="flex justify-end items-center gap-3">
      <button type="button" mat-dialog-close class="btn btn-active">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-active btn-neutral"
        [disabled]="taskForm.invalid"
      >
        Create
      </button>
    </div>
  </form>
</div>
