<div
  class="h-[720px] max-w-[620px] py-10 px-8 flex-col justify-start items-start gap-2 flex"
>
  <div class="flex flex-col justify-start">
    <span class="text-2xl font-bold text=[#274E61]">Create issue</span>
    <span class="text-sm font-medium text-[#6F7B90]"
      >Required fields are marked with an asterisk
    </span>
  </div>
  <form class="flex flex-col mt-3">
    <div class="flex justify-between gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Project</mat-label>
        <mat-select>
          @for (project of projects; track project) {
          <mat-option [value]="project.value">{{
            project.viewValue
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Assign</mat-label>
        <mat-select>
          @for (user of users; track user) {
          <mat-option [value]="user.value">{{ user.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>Description</div>
    <div class="w-full !overflow-hidden">
      <quill-view-html [content]="desc"></quill-view-html>
    </div>
    <quill-view-html
      class="w-full !overflow-hidden"
      [content]="desc"
    ></quill-view-html>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <div class="flex justify-between gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select>
          @for (item of priorities; track item) {
          <mat-option [value]="item.value">{{ item.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Assign</mat-label>
        <mat-select>
          @for (user of users; track user) {
          <mat-option [value]="user.value">{{ user.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex justify-between gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Due Date *</mat-label>
        <input matInput [matDatepicker]="picker1" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker2" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</div>
